name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck dash zsh bats bats-file bats-assert ruby ruby-rspec

      - name: Run checks
        run: rake check

  smoketest:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ruby

      - name: Run smoketest
        run: ./smoketest
